/* PlayerSection.css */
.player-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.player-section-heading {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
}

.player-section {
  display: flex;
  justify-content: space-around; /* Evenly space the player blocks */
  flex-wrap: wrap;
  gap: 40px; /* Increase the gap between player blocks */
}

.player-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.089);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 250px; /* Increase the width of the player blocks */
  text-align: center;
}

.player-block:hover {
  transform: translateY(-10px);
}

.player-image {
  width: 150px; /* Increase the size of the player images */
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px; /* Adjust the margin-bottom for spacing */
}

.player-block h3 {
  margin: 10px 0;
  font-size: 1.5em; /* Increase the font size of player names */
  color: #ffffff;
}

.player-block a {
  color: #999999;
  text-decoration: none;
}

.player-block a:hover {
  text-decoration: underline;
}

